# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\storyline-project\code4E2Storyline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
